/*reset*/

/**/

/**/

*, ::before, ::after {
  box-sizing: border-box;
}

/*Basics----------------------------------------------------------*/

/**/

/**/

body {
  background: #0077EE;
  font-family: 'Patrick Hand', cursive;
  padding: 120px;
}

/*layout*/

/**/

.card {
  background: whitesmoke;
  box-shadow: 10px 10px #333;
  margin: auto;
  transition: all 500ms;
  width: 360px;
}

.card-header {
  background: #444;
  height: 18%;
}

.card-body {
  height: 82%;
  padding-bottom: 40px;
  position: relative;
}

.raised {
  transform: translateY(-400px);
}

/*text*/
/**/
/**/

h1 {
  color: white;
  font-family: 'Permanent Marker', sans-serif;
  padding: 20px;
  z-index: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: -22px;
  height: 300px;
  overflow: auto;
}

li {
  background: #DDD;
  cursor: pointer;
  padding: 5px;
  padding-left: 15px;
  border-bottom: 1px solid #BBB;
}

.input-box {
  display: flex;
  position: relative;
  top: -22px;
  border-bottom: 1px solid #BBB;
}

input {
  border: none;
  color: #555;
  flex: 1 0 0;
  font-family: 'Patrick Hand', cursive;
  font-size: 1rem;
  padding: 5px;
  padding-left: 15px;
}

/*buttons*/

/**/

/**/

button {
  background: #0077EE;
  border: none;
  color: whitesmoke;
  cursor: pointer;
  font-weight: bold;
  padding: 3px 15px;
}

.cleanup-button {
  position: absolute;
  clip-path: inset(0 0 12px 12px);
  bottom: -12px;
  left: -12px;
  width: 40px;
  height: 40px;
  border-radius: 80px;
  transition: all 500ms;
  z-index: 44;
}

.settings-button {
  position: absolute;
  clip-path: inset(0 12px 12px 0);
  bottom: -12px;
  right: -12px;
  width: 40px;
  height: 40px;
  border-radius: 80px;
  transition: all 500ms;
  z-index: 44;
}

.revealed {
  width: 80px;
  height: 80px;
  font-size: 2rem;
}

.completed {
  color: #666;
  text-decoration: line-through;
}

.your-name {
  font-size: 2rem;
  top: -22px;
  position: relative;
  width: 100%;
}

.swatch-row {
  display: flex;
  justify-content: space-around;
  margin: 30px 0 52px 0;
}

.color-swatch {
  border-radius: 20px;
  height: 90px;
  width: 90px;
}

.red {
  background-color: #EE4455;
}

.green {
  background-color: #55AA55;
}

.blue {
  background-color: #0077EE;
}

.save-button {
  font-size: 2rem;
  width: 100%;
}

.settings-screen {
  background-color: #DDD;
  opacity: 0;
  width: 360px;
  z-index: 999;
}
